<!DOCTYPE html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <title>News Overview</title>
    
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/css/bootstrap.min.css" integrity="sha384-PsH8R72JQ3SOdhVi3uxftmaW6Vc51MKb0q5P2rRUpPvrszuE4W1povHYgTpBfshb" crossorigin="anonymous">

    <!-- custom CSS -->
    <link rel="stylesheet" href="css/style.css">
  </head>

  <body>


    
    <div class="container">
      <div class="jumbotron">
      <h1> News Overview </h1>
      <h2> A project with the purpose of increasing media consumer awareness. </h2>
           </br>
           <h5> Each button represents a trending article from a news source
                with the political spectrum alignment as shown.
                All information about the bias of each source from
                <a href="https://mediabiasfactcheck.com/methodology/">Media Bias Fact Check.</a></h5>
            <br>
            <h6>Click on a headline for more information, including news source,
                author, and a link to the full article.</h6>
            
                
      </div>
    </div>
    <div class="container">
      <div class="row bias-row">
        <!-- leftmost of three columns -->
        <div class="col-md-5">
          <div class="row">
            <!-- left -->
            <div class="col-md-6">
              <h3>Left</h3>
              <% @articles.each do |article| %>
              <% @source_biases["left"].each do |source| %>
                <% if (article["source"]["id"] == source) then %>
                    <button type="button" class="btn"  data-toggle="popover" 
                    data-placement="top" data-trigger="focus" data-html="true"
                    title="<a href='<%=article["url"]%>'><%= article["source"]["name"]%></a> – Author: <%=article["author"] %>" 
                    data-content="<%= article["description"]%>" >
                      <%= article["title"]%>
                    </button>
                    <br>
                    <% end %>
                  <% end%>
                <% end %>
            </div>
            <!-- left center -->
            <div class="col-md-6">
              <h3>Left Center</h3>
              <% @articles.each do |article| %>
              <% @source_biases["left-center"].each do |source| %>
                <% if (article["source"]["id"] == source) then %>
                    <button type="button" class="btn"  data-toggle="popover" 
                    data-placement="top" data-trigger="focus" data-html="true"
                    title="<a href='<%=article["url"]%>'><%= article["source"]["name"]%></a> – Author: <%=article["author"] %>" 
                    data-content="<%= article["description"]%>" >
                      <%= article["title"]%>
                    </button>
                    <br>
                    <% end %>
                  <% end%>
                <% end %>
                </div>
          </div>
        </div>
        
        <!-- centermost of three columns -->
            <!-- least bias -->
            <div class="col-md-2">
              <h3>Least Bias</h3>
              <% @articles.each do |article| %>
              <% @source_biases["least-biased"].each do |source| %>
                <% if (article["source"]["id"] == source) then %>
                    <button type="button" class="btn"  data-toggle="popover" 
                    data-placement="top" data-trigger="focus" data-html="true"
                    title="<a href='<%=article["url"]%>'><%= article["source"]["name"]%></a> – Author: <%=article["author"] %>" 
                    data-content="<%= article["description"]%>" >
                      <%= article["title"]%>
                    </button>
                    <br>
                    <% end %>
                  <% end%>
                <% end %>
            </div>
      <!-- rightmost of three columns -->
        <div class="col-md-5">
          <div class="row">
            <!-- right center -->
            <div class="col-md-6">
              <h3>Right Center</h3>
              <% @articles.each do |article| %>
              <% @source_biases["right-center"].each do |source| %>
                <% if (article["source"]["id"] == source) then %>
                    <button type="button" class="btn"  data-toggle="popover" 
                    data-placement="top" data-trigger="focus" data-html="true"
                    title="<a href='<%=article["url"]%>'><%= article["source"]["name"]%></a> – Author: <%=article["author"] %>" 
                    data-content="<%= article["description"]%>" >
                      <%= article["title"]%>
                    </button>
                    <br>
                    <% end %>
                  <% end%>
                <% end %>
            </div>
            <!-- right -->
            <div class="col-md-6" data-html="true">
              <h3>Right</h3>
              <% @articles.each do |article| %>
              <% @source_biases["right"].each do |source| %>
                <% if (article["source"]["id"] == source) then %>
                    <button type="button" class="btn"  data-toggle="popover" 
                    data-placement="top" data-trigger="focus" data-html="true"
                    title="<a href='<%=article["url"]%>'><%= article["source"]["name"]%></a> – Author: <%=article["author"] %>" 
                    data-content="<%= article["description"]%>" >
                      <%= article["title"]%>
                    </button>
                    <br>
                    <% end %>
                  <% end%>
                <% end %>
            </div>
        </div>
        </div>
        
      </div> <!-- end bias-row -->
    </div> <!-- end container -->
    



    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    
    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.3/umd/popper.min.js" integrity="sha384-vFJXuSJphROIrBnz7yo7oB41mKfc8JzQZiCq4NCceLEaO4IHwicKwpJf9c9IpFgh" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/js/bootstrap.min.js" integrity="sha384-alpBpkh1PFOepccYVYDB4do5UnbKysX5WZXm3XxPqe5iKTfUKjNkCk9SaVuEZflJ" crossorigin="anonymous"></script>
    
    <!-- script for bootstrap popovers -->
    <script>
      $(function () {
        $('[data-toggle="popover"]').popover()
      })
    </script>
    
    <!-- script for dismissible popovers -->
    <script>
      $('.popover-dismiss').popover({
        trigger: 'focus'
      })
    </script>
    


  </body>
</html>