<!DOCTYPE html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <title>News Overview</title>
    
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/css/bootstrap.min.css" integrity="sha384-PsH8R72JQ3SOdhVi3uxftmaW6Vc51MKb0q5P2rRUpPvrszuE4W1povHYgTpBfshb" crossorigin="anonymous">

    <!-- custom CSS -->
    <link rel="stylesheet" href="css/style.css">
  </head>

  <body>


    
    <div class="container">
      <div class="jumbotron">
      <h1> News Overview </h1>
      <h2> A project dedicated to collecting top headlines and showing
           media sources' possible biases all in one place. </h2>
           </br>
           <h3> Each button represents an article from the news source
                shown. Click for more information. </h3>
                
      </div>

      <div class="row bias-row">
        <!-- strong left -->
        <div class="col-md-1">
          <h3>Strong Left</h3>
          <% @articles.each do |article| %>
            <% if (article["source"]["id"] == @source_biases["strong-left"]) then %>
                <button type="button" class="btn"  data-toggle="popover" data-placement="top" data-trigger="focus"
                title="<%= article["source"]["name"] %> – <%=article["author"] %>" data-content="<%= article["description"]%>" >
                <%= article["title"]%>
                </button>
                <br>
                <% end %>
            <% end %>
        </div>
        <!-- left -->
        <div class="col-md-2">
          <h3>Left</h3>
          <% @articles.each do |article| %>
            <% if (article["source"]["id"] == @source_biases["left"]) then %>
                <button type="button" class="btn"  data-toggle="popover" data-placement="top" data-trigger="focus"
                title="<%= article["source"]["name"] %> – <%=article["author"] %>" data-content="<%= article["description"]%>" >
                <%= article["title"]%>
                </button>
                <br>
                <% end %>
            <% end %>
        </div>
        <!-- left center -->
        <div class="col-md-2">
          <h3>Left Center</h3>
          <% @articles.each do |article| %>
            <% if (article["source"]["id"] == @source_biases["left-center"]) then %>
                <button type="button" class="btn"  data-toggle="popover" data-placement="top" data-trigger="focus"
                title="<%= article["source"]["name"] %> – <%=article["author"] %>" data-content="<%= article["description"]%>" >
                <%= article["title"]%>
                </button>
                <br>
                <% end %>
            <% end %>
        </div>
        <!-- least bias -->
        <div class="col-md-2">
          
          <h3>Least Bias</h3>
          <!-- ruby code -->
          <% @articles.each do |article| %>
            <% if (article["source"]["id"] == @source_biases["least-biased"]) then %>
                <button type="button" class="btn"  data-toggle="popover" data-placement="top" data-trigger="focus"
                title="<%= article["source"]["name"] %> – <%=article["author"] %>" data-content="<%= article["description"]%>" >
                <%= article["title"]%>
                </button>
                <br>
                <% end %>
            <% end %>
            
        </div>
        <!-- right center -->
        <div class="col-md-2">
          <h3>Right Center</h3>
          <% @articles.each do |article| %>
            <% if (article["source"]["id"] == @source_biases["right-center"]) then %>
                <button type="button" class="btn"  data-toggle="popover" data-placement="top" data-trigger="focus"
                title="<%= article["source"]["name"] %> – <%=article["author"] %>" data-content="<%= article["description"]%>" >
                <%= article["title"]%>
                </button>
                <br>
                <% end %>
            <% end %>
        </div>
        <!-- right -->
        <div class="col-md-2">
          <h3>Right</h3>
          <% @articles.each do |article| %>
            <% if (article["source"]["id"] == @source_biases["right"]) then %>
                <button type="button" class="btn"  data-toggle="popover" data-placement="top" data-trigger="focus"
                title="<%= article["source"]["name"] %> – <%=article["author"] %>" data-content="<%= article["description"]%>" >
                <%= article["title"]%>
                </button>
                <br>
                <% end %>
            <% end %>
        </div>
        <!-- strong right -->
        <div class="col-md-1">
          <h3>Strong Right</h3>
          <% @articles.each do |article| %>
            <% if (article["source"]["id"] == @source_biases["strong-right"]) then %>
                <button type="button" class="btn"  data-toggle="popover" data-placement="top" data-trigger="focus"
                title="<%= article["source"]["name"] %> – <%=article["author"] %>" data-content="<%= article["description"]%>" >
                <%= article["title"]%>
                </button>
                <br>
                <% end %>
            <% end %>
        </div>
      </div>



      









 <!--      <h5> Please select a news site: </h5>
      <select class="selectpicker" name="site" form="siteform">
        <option value="select">select</option>
        <option value="ign">IGN</option>
        <option value="polygon">Polygon</option>
        <option value="techradar">TechRadar</option>
        <option value="mashable">Mashable</option>
        <option value="ew">Entertainment Weekly</option>
      </select>
      
      
      <form method="POST" action="results" id="siteform"> -->

        <!--<input type="submit" value="Submit">-->
     <!--    <br>
        <input class="btn btn-primary" type="submit" value="Submit">
      </form> -->

    

    </div>
    
    



    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    
    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.3/umd/popper.min.js" integrity="sha384-vFJXuSJphROIrBnz7yo7oB41mKfc8JzQZiCq4NCceLEaO4IHwicKwpJf9c9IpFgh" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/js/bootstrap.min.js" integrity="sha384-alpBpkh1PFOepccYVYDB4do5UnbKysX5WZXm3XxPqe5iKTfUKjNkCk9SaVuEZflJ" crossorigin="anonymous"></script>
    
    <!-- script for bootstrap popovers -->
    <script>
      $(function () {
        $('[data-toggle="popover"]').popover()
      })
    </script>
    
    <!-- script for dismissible popovers -->
    <script>
      $('.popover-dismiss').popover({
        trigger: 'focus'
      })
    </script>
    


  </body>
</html>